/**
 * Variables
 * Variables should follow the $component-state-property-size formula for
 * consistent naming. Examples:
 * $nav-link-disabled-color
 * $modal-content-box-shadow-xs
 *
 * Customization:
 * To customize Bootstrap variables:
 * Copy the desired variable from node_modules/bootstrap/scss/_variables.scss
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 * Change the value and remove the !default flag.
 * Examples:
 * $body-bg: #000;
 * $body-color: $gray-100;
 */
$primary: rgb(211,101,58);
$primary-rgb: 211,101,58;
$secondary: rgb(215,172,123);
$secondary-rgb: 215,172,123;
$tertiary: rgb(136,	145,	137);
$tertiary-rgb: 136,	145,	137;
$quaternary: rgb(69,	28,	20);
$gray-800: rgb(57,	62,	84	);
$brown: rgb(144, 133, 120);
$black: rgb(42,	48,	68);
$white: rgb(250,248,247);
$white-light:rgb(252,251,252);
$body-bg: $white !default;
//$blue: rgb(27,79,136); really dark
//$blue: rgb(57,	110,	177); lighter
$blue: rgb(42,	99,	167);
$body-color: $gray-800 !default;
$yellow:  #ffc107 !default;

$dropdown-link-color: $blue;
$dropdown-link-hover-color:  $white;
$dropdown-link-hover-bg: $blue;
$spacer: 1rem;
$zindex-offcanvas: 1199; /* one less than Drupal toolbar */
$zindex-sticky: 1190;
$offcanvas-padding-y: calc(var(--drupal-displace-offset-top, 0px) + #{$spacer});
$primary-emphasis: tint-color($primary, 20%);

$theme-colors: (primary: $primary, secondary: $secondary, tertiary: $tertiary, quaternary:$quaternary, light: $white, dark: tint-color($quaternary, 80%));
$navbar-dark-color: rgba($brown, 1);
$navbar-dark-hover-color: rgba($brown, .75);
$body-emphasis-color: $primary;

//@see _accordion.scss
$accordion-button-active-color: $white;
$accordion-button-active-bg: $primary;



$input-btn-padding-y:         1rem !default;
$input-btn-padding-x:         0.75rem !default;

$btn-close-width:            1.5em !default;
$btn-close-height:           $btn-close-width !default;
$btn-close-padding-x:        .25em !default;
$btn-close-padding-y:        $btn-close-padding-x !default;
$btn-close-color:            $primary !default;
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>") !default;
$btn-close-opacity:          1 !default;
$btn-close-hover-opacity:    .75 !default;
$btn-close-focus-opacity:    1 !default;
$btn-close-disabled-opacity: .25 !default;
$btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%) !default;

$border-radius: 0.175rem;
$border-radius-lg: 0.175rem;
$offcanvas-vertical-height: 50vh;

/*$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;*/
$btn-link-color: $white;

$navbar-brand-padding-y: 0;
$headings-color: rgba($black, 1);
$font-family-sans-serif: "Inter", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Poppins", sans-serif;
$btn-font-family: "Poppins", sans-serif;
$font-weight-base: 400 !default;
$link-color:                              $blue !default;
$link-decoration:                         null !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;
$navbar-light-toggler-icon-bg: initial;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$btn-danger-hover: shift-color($yellow, $link-shade-percentage) !default;

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
.title-wrap {
  overflow-wrap: break-word;
}

@media (min-width: 1400px) {
  // Override for any text marked as light over White background
  #sidebar-first-content {
    .bg-blue {
      .block__title {
        color: var(--bs-heading-color);
      }
      .nav, navbar-nav {
        --bs-nav-link-color: var(--bs-link-color);
        --bs-nav-link-hover-color: var(--bs-link-hover-color);
        --bs-emphasis-color-rgb: #{$primary-emphasis};
        --bs-navbar-active-color: #{$primary-emphasis};
        .nav-link.active {
          color: #{$primary-emphasis};
        }
      }
    }
  }
}



.archipelago-subtheme-dcpl {
  // Override for any text marked as light over White background
  .bg-blue {
    .block__title {
      color: #{$white};
    }
    .nav,navbar-nav {
      flex-direction: column;
      --bs-nav-link-hover-color: #{$primary-emphasis};
      --bs-emphasis-color-rgb: rgb(#{$white-light});
      --bs-nav-link-color: #{$white};
      .dropdown-menu {
        --bs-dropdown-bg: transparent;
        --bs-dropdown-link-color: #{$white};
        --bs-dropdown-link-hover-color: #{$primary-emphasis};
        --bs-dropdown-link-hover-bg: transparent;
        --bs-dropdown-border-color: transparent;
      }
    }
  }

  .pagination {
    --bs-pagination-disabled-color:var(--bs-gray-400);
    --bs-pagination-disabled-bg: #{$white};
  }
}


.btn.btn-warning {
  background-color: $yellow;
  &:hover {
    --bs-btn-hover-bg: #{$btn-danger-hover};
    --bs-btn-hover-color: #{$white};
  }
}

.navbar-toggler {
  width: 3rem;
  height: 3rem;
}
.archipelago-subtheme-dcpl {
  .contextual-region {
    //z-index: calc($zindex-sticky - 500);
  }

  /* Mirador */
  .MuiAppBar-positionAbsolute {
   /* z-index: 800 !important; we can't override bc Stupid Mirador uses IDs to target. Default 1100 */
  }
  .toolbar-oriented .toolbar-bar {
    // We have to override the Toolbar if present instead. Drupal uses 502
    z-index: 1200;
  }


  .offcanvas {
    &.show, &.showing {
      padding-top: $offcanvas-padding-y;
      overflow-y: scroll;
    }

    .offcanvas-header .btn-close {
      // Needs an override bc we are already giving the offcanvas an extra padding to please the drupal to bar
      --bs-offcanvas-padding-y: 1rem;
    }
  }


  #search-nav {
    --bs-offcanvas-height: 35vh
  }

  @media (min-width: 1400px) {
    /* We do this because we have an off canvas that turns into a column on XXL displays */
    .col-xxl-3.navbar-expand-xxl .offcanvas {
      width: 100% !important;
    }
    #sidebar-first-content {
      position: static !important;
    }
  }

  .navbar-toggler-icon {
    display: flex;
    vertical-align: middle;
    background-size: 100%;
    background-image: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width:auto;
    height:auto;
    &:hover {
      rect,polygon {
        transition-delay: 0.1s;
      }
    }
    svg {
      rect,polygon {
        transition: transform 300ms, fill 300ms, color 300ms;
        stroke-width: 15.8114;
        stroke-linecap: round;
        stroke-linejoin: bevel;
        color: transparent;
        fill: transparent;
      }
    }

    /* main menu */
    svg .svg-icon-step4 {
      fill: $primary;
    }

    svg .svg-icon-step3 {
      fill: $primary;
    }

    svg .svg-icon-step2 {
      fill: $primary;
    }

    svg .svg-icon-step1 {
      fill: $primary;
    }
    /* filter menu */

    svg .svg-slider-top {
      fill: $primary;
    }
    svg .svg-slider-center {
      fill: $primary;
    }
    svg .svg-slider-bottom {
      fill: $primary;
    }
    svg .svg-slider-handle-bottom {
      fill: $primary;
    }
    svg .svg-slider-handle-center {
      fill: $primary;
    }
    svg .svg-slider-handle-top {
      fill: $primary;
    }
    svg .svg-search-circle {
      fill: none;
      stroke: $primary;
      stroke-width:4.5;
      stroke-linecap:round;
      stroke-linejoin:bevel;
      stroke-dasharray:none;
      stroke-opacity:1
    }
    svg .svg-search-circle {
      fill: none;
      stroke: $primary;
      stroke-width:4.5;
      stroke-linecap:round;
      stroke-linejoin:bevel;
      stroke-dasharray:none;
      stroke-opacity:1
    }
    svg .svg-search-handle {
      fill:$primary;
    }

    /* search menu */

  }
  button.navbar-toggler.collapsed {
    &:hover {
      /*
      svg .svg-icon-step4 {
        fill: $quaternary;
        transform: translate(0px, 1px) rotate(-2deg) scale(0.975,1);
      }
      svg .svg-icon-step1 {
        fill: $quaternary;
        transform: translate(2px, 6px) rotate(-4deg) scale(0.95,0.9);
      }
      svg .svg-icon-step2 {
        fill: $quaternary;
        transform: translate(4px, 8px) rotate(-5deg) scale(0.9,0.85);
      }
      svg .svg-icon-step3 {
        fill: $quaternary;
        transform: translate(7px, 10px) rotate(-7deg) scale(0.85,0.80);
      }*/
      svg .svg-icon-step4 {
        fill: $secondary;
        transform: translate(0px, -4px) rotate(2.5deg) scale(1.05,1.07);
      }
      svg .svg-icon-step1 {
        fill: tint-color($secondary, 10%);
        transform: translate(3px, 5px) rotate(0deg) scale(0.92,0.92);
      }
      svg .svg-icon-step2 {
        fill: tint-color($secondary, 22%);
        transform: translate(7px, 10px) rotate(-2.5deg) scale(0.81,0.85);
      }
      svg .svg-icon-vertical1 {
        fill: tint-color($secondary, 35%);
        transform: translate(11px, 11px) rotate(-4deg) scale(0.71,0.72);
      }
      svg .svg-icon-step3 {
        fill: tint-color($secondary, 50%);
        transform: translate(15px, 11px) rotate(-6.5deg) scale(0.62,0.6);
      }
      svg .svg-icon-handle {
        fill: tint-color($black, 45%);
        transform: translate(15px, 7px) rotate(50deg) ;
      }

    }
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*.btn-primary,.btn-secondary {
  a {
    color: $white;
    &hover {
      color: $white-light;
    }
  }
}
*/

a {
  font-family: "Poppins", sans-serif;
}


// Defines variables for the Footer height
// Allowing us to make it talled on less than large
.archipelago-subtheme-dcpl {
  --footer-height: 300px;
}
@media (max-width: 992px) {
  .archipelago-subtheme-dcpl
  {
    --footer-height: 450px;
  }
}


#main-content-wrapper {
  min-height: calc(100vh - var(--footer-height));
  height: auto !important;
  margin: 0 auto calc(0px - var(--footer-height));
}

footer {
  height: var(--footer-height);
}

#push-footer {
  height: var(--footer-height);
}

.block-system-branding-block {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

div[data-drupal-selector="edit-actions"] {
  align-items: end;
  display: flex;
}
/* advanced search */
.advanced-search-box {
  .views-exposed-form {
    .form-row {
      .fieldset-wrapper {
        column-gap: 0;
        flex-flow: column;
        row-gap: 1rem;
      }
    }
  }
}

/* advanced search as exposed modal*/

.views-exposed-form.advanced-search-box {
    .form-row {
      .fieldset-wrapper {
        column-gap: 0;
        flex-flow: column;
        row-gap: 1rem;
      }
    }
}
.views-exposed-form {
  .form-group {
  }
  label {
    @extend .visually-hidden !optional;
  }
}
.form-wrapper {
  margin-bottom: 1rem;
  .form-item {
    margin-bottom: 1rem;
  }
}
fieldset {
  background-color: $white;
}

  .views-exposed-form.advanced-search-box {
    .form-row {
      min-height: 0;
      width: 100%;
      flex-flow: column;
      fieldset {
        min-height: 0;
        flex-direction: column !important;
        &.form-wrapper {
          display: flex;
          column-gap: 1rem;
          & > div {
            display: flex;
            align-items: end;
          }
          label {
            @extend .visually-hidden !optional;
          }
          .js-form-item {
            display: flex;
            flex-grow: 1;
          }
        }
      }
    }
  }



.advanced-search-box {
  .views-exposed-form {
    .form-row {
      min-height: 0;
      width: 100%;
      flex-flow: column;
      fieldset {
        min-height: 0;
        flex-direction: column !important;
        &.form-wrapper {
          display: flex;
          column-gap: 1rem;
          & > div {
            display: flex;
            align-items: end;
          }
          label {
            @extend .visually-hidden !optional;
          }
          .js-form-item {
            display: flex;
            flex-grow: 1;
          }
        }
      }
    }
  }
}

.advanced-search-box {
  .form-actions.mb-3 {
    margin-top: 1rem;
  }
}

.form-row > div, .form-row > fieldset {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: auto;
  max-width:none
}

.form-row .form-actions {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self:flex-end
}

#main-content .form-modal {
  margin-bottom: 0.5rem;
}


.d-flex.hidden {
  display: none !important;
}
.hidden {
  display: none !important;
}
strong {
  background-color: var(--bs-yellow);
}
.views-field-search-api-excerpt {
  strong {
    margin-right: 0.25rem;
  }
}

mark {
  background-color: var(--bs-yellow);
}

.page-wrapper .sticky-top {
  top: var(--drupal-displace-offset-top, 0rem);
}

.form-item label.form-required::after {
  margin-inline: 0.15em;
  content: "*";
  color: var(--bs-form-invalid-color);
}
/* general views */
.view-filters {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.view-content {
  padding-bottom: 1rem;
}
.view-header {
  padding-bottom: 1rem;
}
.view {
  .pager {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

/* Drupal overrides */
#drupal-off-canvas-wrapper > div:not(.ui-resizable-handle,.ui-dialog-titlebar) *:where(:not(details *, [data-drupal-messages] *, svg, svg *, .ck-reset *, [data-drupal-ck-style-fence] *, .ui-resizable-handle)),
#drupal-off-canvas-wrapper *:where(.ui-dialog-titlebar *:not(svg, svg *))
{
  all: revert;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

#drupal-off-canvas-wrapper > div:not(.ui-resizable-handle,.ui-dialog-titlebar) *:where(:not(details *, [data-drupal-messages] *, svg, svg *, .ck-reset *, [data-drupal-ck-style-fence] *, .ui-resizable-handle)):after,
#drupal-off-canvas-wrapper > div:not(.ui-resizable-handle,.ui-dialog-titlebar) *:where(:not(details *, [data-drupal-messages] *, svg, svg *, .ck-reset *, [data-drupal-ck-style-fence] *, .ui-resizable-handle)):before,
#drupal-off-canvas-wrapper *:where(.ui-dialog-titlebar *:not(svg, svg *)):before,
#drupal-off-canvas-wrapper *:where(.ui-dialog-titlebar *:not(svg, svg *)):after
{
  all: revert;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/**
 * Set base styles for the off-canvas dialog.
 * @internal


#drupal-off-canvas-wrapper *:where(:not(svg, svg *, .ck-reset *, [data-drupal-ck-style-fence] *, .ui-resizable-handle)) {
  all: revert;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

#drupal-off-canvas-wrapper *:where(:not(svg, svg *, .ck-reset *, [data-drupal-ck-style-fence] *, .ui-resizable-handle)):after,
#drupal-off-canvas-wrapper *:where(:not(svg, svg *, .ck-reset *, [data-drupal-ck-style-fence] *, .ui-resizable-handle)):before {
  all: revert;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*/

#drupal-off-canvas-wrapper *:not(details) a,
#drupal-off-canvas-wrapper *:not(details) .link {
  text-decoration: none;
  color: var(--off-canvas-link-color);
}

#drupal-off-canvas-wrapper *:not(details) hr {
  height: 1px;
  background: var(--off-canvas-border-color);
}

#drupal-off-canvas-wrapper *:not(details) h1,
#drupal-off-canvas-wrapper .heading-a {
  font-size: 1.4375rem;
  line-height: 1.2;
}

#drupal-off-canvas-wrapper *:not(details) h2,
#drupal-off-canvas-wrapper .heading-b {
  margin: var(--off-canvas-vertical-spacing-unit) 0;
  font-size: 1.1875rem;
}

#drupal-off-canvas-wrapper *:not(details) h3,
#drupal-off-canvas-wrapper .heading-c {
  margin: var(--off-canvas-vertical-spacing-unit) 0;
  /* font-size: 1.0625rem; */

}

#drupal-off-canvas-wrapper *:not(details) h4,
#drupal-off-canvas-wrapper .heading-d {
  margin: var(--off-canvas-vertical-spacing-unit) 0;
  font-size: 1rem;
}

#drupal-off-canvas-wrapper *:not(details) h5,
#drupal-off-canvas-wrapper .heading-e,
#drupal-off-canvas-wrapper *:not(details) h6,
#drupal-off-canvas-wrapper .heading-f {
  margin: var(--off-canvas-vertical-spacing-unit) 0;
  font-size: 0.9375rem;
}

#drupal-off-canvas-wrapper *:not(details) p {
  margin: var(--off-canvas-vertical-spacing-unit) 0;
}

#drupal-off-canvas-wrapper *:not(details) img {
  max-width: 100%;
  height: auto;
}

#drupal-off-canvas-wrapper *:not(details) .links {
  margin: 0;
  padding: 0;
  list-style: none;
}

#drupal-off-canvas-wrapper *:not(details) .links li {
  margin: calc(var(--off-canvas-vertical-spacing-unit) /2) 0;
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper summary {
  margin: 1rem 0.5rem;
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper .fieldset, .archipelago-subtheme-dcpl #drupal-off-canvas-wrapper fieldset {
  border:none;
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper table {
  margin: 1rem 0;
  width: 100%;
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper {
  --off-canvas-vertical-spacing-unit: 0.5rem;
  --off-canvas-padding: 0rem;
  --off-canvas-focus-outline-width: 2px;
  padding: 0 var(--off-canvas-padding) var(--off-canvas-padding);
  --off-canvas-first-cell-padding-start: 0.5rem;
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper table {
  --bs-table-bg: var(--off-canvas-background-color-dark);
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper details {
  --off-canvas-padding: 1.25rem;
  --off-canvas-vertical-spacing-unit: 0.5rem;
  --off-canvas-details-border-width: 0;
  --off-canvas-details-summary-padding: 0.625rem 1.25rem;
  --off-canvas-details-summary-font-size: 0.875rem;
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper tr {
  border-bottom: none;
}
.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper th:first-child {
  --off-canvas-table-cell-padding: 2px;
  display: flex;
  align-items: center;
  min-height: 3.125rem;
  gap: var(--off-canvas-table-cell-padding);
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper table tr th,
.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper table tr th a,
.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper table tr th a:hover,
.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper table tr th a:focus {
  color: var(--off-canvas-background-color-light);
}

.archipelago-subtheme-dcpl #drupal-off-canvas-wrapper .table >:not(caption)>*>td {
  background-color: unset;
}


