// Bootstrap
// -----------------------------------------------------------------------------
@import 'init';
@import 'bootstrap';

// Include any custom stylesheets here
// -----------------------------------------------------------------------------
@import "base/elements";
@import "base/functions";
@import "base/helpers";
@import "base/typography";


/* Navigation basic size */
body.noscroll {
  overflow: hidden;
}



.page {
  nav.main-nav-bar {
    min-height: 10rem;
  }
  nav {
    .collapsing {
      transition: none;
      position:absolute;
      display: none;
    }
    .navbar-collapse.collapse {
      transition: background-color linear 1s;
      background-color: $white;
      .nav.navbar-nav {
        position: absolute;
        height:100%;
        width:100%;
      }
    }
    .navbar-collapse.collapse.show {
      position: fixed;
      display: block;
      overflow-y: hidden;
      z-index: -99;
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $blue ;
      .nav.navbar-nav {
        position: relative;
        left: calc(0px + var(--drupal-displace-offset-left));
        width:100%;
        height:100%;
        color: $white;
        padding-top: 20rem;
        padding-bottom: 20rem;
        li.nav-item {
          font-size: $h4-font-size;
        }
      }
    }
  }
}

/* Color changing body */

body {
  transition: background-color 1s linear;
  &.scrolled {
    background-color: $white-light;
  }
}


.back-to-top {
  transition: height .25s, background-color .5s, bottom .25s;
}
#sidebar-first-content {
  transition: top .5s;
  top: 8rem;
}
body.scrolled {
  /* Extras */
  #sidebar-first-content {
    top:calc(var(--drupal-displace-offset-top, 0) + 7rem)
  }
  #offcanvas-toggler-container-wrapper {
    button {
      position:relative;
      background-color: $white;
    }
  }
  .back-to-top {
    display: block;
    width: 4rem;
    height: 3rem;
    position: fixed;
    right: 5%;
    bottom: 2%;
    z-index: 1234;
    background-color: $primary;
    color: white;
    padding-top: 0.5em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}
body:not(.scrolled) {
  .back-to-top {
    position: fixed;
    height: 3rem;
    width: 4rem;
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    bottom: -3%;
    right: 5%;
    padding-top: 0.5em;
    text-align: center;
  }
}

@include media-breakpoint-down(xxl) {
  /* Don't set sticky-top by default. Only set sticky if under XXL to avoid Facets competing for z-index in other sizes
     with Top collapsing menu
   */
  #sidebar-first-content {
    position:sticky;
    top: 0;
    z-index: 1199;
  }
}


.btn-primary {
  @include button-variant($primary, darken($primary, 10%), $white, $blue, lighten($blue, 25%), $white);
}

.btn-outline-primary {
  @include button-variant($primary, darken($primary, 10%), $white, $blue, lighten($primary, 25%), $white);
}
