// Bootstrap
// -----------------------------------------------------------------------------
@import 'init';
@import 'bootstrap';

// Include any custom stylesheets here
// -----------------------------------------------------------------------------
@import "base/elements";
@import "base/functions";
@import "base/helpers";
@import "base/typography";


/* Navigation basic size */
body.noscroll {
  overflow: hidden;
}
.page {
  nav {
    .collapsing {
      transition: none;
      position:absolute;
      display: none;
    }
    min-height: 10rem;
    .navbar-collapse.collapse {
      transition: background-color linear 1s;
      background-color: $white;
      .nav.navbar-nav {
        position: absolute;
        height:100%;
        width:100%;
      }
    }
    .navbar-collapse.collapse.show {
      position: fixed;
      display: block;
      overflow-y: hidden;
      z-index: -99;
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $blue ;
      .nav.navbar-nav {
        position: relative;
        left: calc(0px + var(--drupal-displace-offset-left));
        width:100%;
        height:100%;
        color: $white;
        padding-top: 20rem;
        padding-bottom: 20rem;
        li.nav-item {
          font-size: $h4-font-size;
        }
      }
    }
  }
}

/* Color changing body */

body {
  transition: background-color 1s linear;
  &.scrolled {
    background-color: $white-light;
  }
}

.btn-primary {
  @include button-variant($primary, darken($primary, 10%), $white, $blue, lighten($blue, 25%), $white);
}

.btn-outline-primary {
  @include button-variant($primary, darken($primary, 10%), $white, $blue, lighten($primary, 25%), $white);
}
